ul{
    position: absolute;
    margin: 0;
    padding: 20px 0;

    background: crimson;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0.3);
}

ul li{
    list-style-type: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,.2);
}

ul li:last-child{
    border-right: none;
}
ul li a{
    text-decoration: none;
    padding: 10px 70px;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;

    overflow: hidden;
    margin: 0 auto 10px;
}

ul li a .icon .fa,
ul li a .icon .fas,
ul li a .icon .far{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 30px;
    transition: 0.5s;
    color: #fff;
}

ul li a:hover .icon .fa,
ul li a:hover .icon .fas,
ul li a:hover .icon .far{
    transform: translateY(-100%);
}

ul li a:hover .icon .fa:last-child,
ul li a:hover .icon .fas:last-child,
ul li a:hover .icon .far:last-child{
    color: #8be5f5
}

ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}

ul li a .name span{
    display: block;
    position: relative;
    color: #fff;

    line-height: 20px;
    transition: .5s;

}

ul li a .name span:before{
    content: attr(data-text);
    position: absolute;    
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #8be5f5;
}

ul li a:hover .name span{
    transform: translateY(20px);
}